<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
   <!--<add name="DefaultConnection" connectionString="User ID=developer;Password=qqq111;Persist Security Info=True;Initial Catalog=DotnetSpider;Data Source=.;" />-->
    <add name="DefaultConnection" connectionString="User ID=developer;Password=qqq111;Persist Security Info=True;Initial Catalog=EastdayComSpider_Test;Data Source=192.168.145.88;" />
  </connectionStrings>
  <appSettings>
    <add key="mongodb" value="mongodb://192.168.147.95:27017" />
    <add key="redis" value="192.168.146.38:6379,serviceName=Scheduler.NET,keepAlive=8,allowAdmin=True,connectTimeout=10000,abortConnect=True,connectRetry=20"/>
    <!--<add key="mongodb" value="mongodb://localhost:30000" />
    <add key="redis" value="127.0.0.1:6370,serviceName=Scheduler.NET,keepAlive=8,allowAdmin=True,connectTimeout=10000,abortConnect=True,connectRetry=20" />-->
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="HtmlAgilityPack" publicKeyToken="bd319b19eaf3b43a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.4.9.5" newVersion="1.4.9.5" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>